<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text">
        <input type="submit" value="search">
    </form>
    <hr>
    <table>
        <tr>
            <td>Title</td>
            <td>Link</td>
        </tr>
        {% for job in jobs %}
        <tr>
            <td>{{ job['jobTitle'] }}</td>
            <td>{{ job['jobUrl'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>