<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form id="search" action="">
        <input type="text" name="q">
        <input type="submit" value="search">
    </form>
    <hr>

    <table>
        {{ jobs }}
        <tr>
            <td>Title</td>
            <td>Company</td>
        </tr>
        {% for job in jobs %}
        <tr>
            <td>{{ job.jobTitle }}</td>
            <td>{{ job.companyName }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>